deemix
fairseq==0.12.2
faiss-cpu==1.7.3
ffmpeg-python>=0.2.0
lib==4.0.0
onnxruntime_gpu
praat-parselmouth>=0.4.2
pedalboard==0.7.7
pydub==0.25.1
pyworld==0.3.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torchcrepe==0.0.20
yt_dlp==2023.7.6
sox==1.4.1
gradio==3.48.0
tensorboardX
einops
local-attention
