# Main libraries
requests
tensorboardX
fairseq==0.12.2
faiss-cpu==1.7.3

# Audio libraries
numpy==1.23.5
ffmpeg-python>=0.2.0
praat-parselmouth>=0.4.2
pyworld==0.3.4
torchcrepe==0.0.23
pedalboard
edge-tts

# Optimization
einops
local-attention

# Interfaces and cloud services
gradio==5.0.1
mega.py
wget
gdown
