gradio==4.36.0
gradio_client==1.0.1
httpx==0.27.2
httpcore==1.0.5
h11==0.14.0
websockets==11.0.3
aiofiles==23.2.1
orjson==3.10.7
fastapi==0.112.2
starlette==0.38.4
pydub==0.25.1
python-multipart==0.0.9
semantic-version==2.10.0
ffmpy==0.3.1
fairseq==0.12.2
omegaconf==2.2.3
antlr4-python3-runtime==4.9.3
hydra-core>=1.0.4
bitarray==2.9.2
sacrebleu>=1.4.12
portalocker==2.10.1
colorama==0.4.6
ffmpeg-python==0.2.0
torchcrepe==0.0.23
resampy==0.4.3
faiss-cpu==1.7.3
local-attention==1.9.14
mega.py==1.0.8
pycryptodome>=3.9.6
edge-tts==6.1.9
pedalboard==0.8.9
uvicorn==0.30.6
requests==2.32.0
urllib3==2.2.2
wget==3.2
